body, html{
  height: 100%;
  font-family: 'Noticia Text', serif;
}

#header{
  background-color: white;
  border: none;
  margin-top: 2%;
  display: inline;
}
h1{
  font-size: 40px;
}

.navbar-nav{
  width: 100%;
  margin: 0;
}

#the-links{
  font-size: 18px;
}

#the-links a:hover{
  color: #64bc5a;
}

.hero-image{
  height: 65%;
  background-image: url(images/herson-rodriguez-96102.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-image p{
  position: absolute;
  font-size: 10px;
  color: white;
  right: 2px;
  bottom: -10px;
}

#info{
  font-size: 16px;
  margin-top: 2%;
  padding: 1%;
  background-color: #f7f6f4;
}
#info p{
  padding-top: 13px;
}

.social-media-message{
  margin-top: 5%;
  font-size: 30px;
}

.about-section{
  margin-top: 10%;
  font-size: 20px;
}

.the-photos{
  margin-left: 10%;
}

.the-photos img{
  width: 25%;
  margin: 2%;
}
