<div class="container-fluid">
  <div id="header" class="navbar navbar-default">
    <h1 class="text-center">Panadería Tacuari</h1>

    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <div class="navbar-collapse collapse">
      <div class="row">
        <ul id="the-links" class="nav navbar-nav">
          <li class="col-sm-3 text-center"><a ui-sref="home">Home</a></li>
          <li class="col-sm-3 text-center"><a ui-sref="menu">Menu</a></li>
          <li class="col-sm-3 text-center"><a ui-sref="about">About</a></li>
          <li class="col-sm-3 text-center"><a ui-sref="photos">Photos</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="about-photo">
  <section class="about-section">
    <div>
      <img class="col-xs-12 col-sm-6" src="../styles/images/12725036_1692919977654902_687321804_n.jpg"/>
    </div>
    <div>
      <p class=" col-xs-12 col-sm-6 about-words">
        Restaurant and bakery locally owned and operated by a Uruguayian family.
        <br />Their true and authentic recipes will take you on a trip to South America for
        <br /> some of the best Latin American food you'll ever taste.
        <br />The empanadas are out of this world!
      </p>
    </div>
  </section>
</div>
