<div class="container-fluid">
  <div id="header" class="navbar navbar-default">
    <h1 class="text-center">Panadería Tacuari</h1>

    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <div class="navbar-collapse collapse">
      <div class="row">
        <ul id="the-links" class="nav navbar-nav">
          <li class="col-sm-3 text-center"><a ui-sref="home">Home</a></li>
          <li class="col-sm-3 text-center"><a ui-sref="menu">Menu</a></li>
          <li class="col-sm-3 text-center"><a ui-sref="about">About</a></li>
          <li class="col-sm-3 text-center"><a ui-sref="photos">Photos</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <h2>breakfast "el desayuno"</h2>
      <p>
        "served all day"
      </p>
    <h4>homemade croissants : $4.99</h4>
    <h4>homemade french bread : $5.75</h4>
    <h4>three egg omlette : $6.99</h4>
      <p>
        add any 2 of the following:
        egg, steak, veggies, bacon, ham, chorizos,
        ground beef. american white cheese, mozarella cheese
        (add tater to any $1.99)
      </p>
    <h4>huevous mexico : $6.99</h4>
      <p>
        two scrambled eggs with tomatoes, jalapeoes,
        and oinons. served with rice, beans, and small salad
      </p>
    <h4>hervous ala juliana : $6.99 </h4>
      <p>
        two and styles eggs served on corn tortllas, covered with
        our homemade juliana salsa serverd with rice, beans, and small
        sala.
      </p>
    <h4>hervous con uruguayian chorizo : $6.99</h4>
      <p>
        served with rice, beans, and a small salad
      </p>
  </div>
  <div class="col-xs-12 col-sm-6">
    <h2>apertivos</h2>
        <p>
          starters
        </p>
      <h4>dips</h4>
        <p>
          cheese dip, guacomole dip, bean dip, chori dip, poblano dip
        </p>
        <p>
          small : $3.99  large $6.99
        </p>
      <h4>tacuari fries : $5.99</h4>
        <p>
          french fries coverde with cheese dip, ranch and bacon
        </p>
      <h4>hot wings and fries : $6.99</h4>
        <p>
          bbq - lemon pepper - hot - mild
        </p>
  </div>
  <div class="col-xs-12 col-sm-6">
    <h2>ensalads</h2>
      <p>
        salads
      </p>
      <h4>grilled chicken : $7.99</h4>
        <p>
          grilled chicken serverd with lettuce, tomatoes, bell peppers,
          onions, avacado, cheese, sour cream, and lime
        </p>
      <h4>taco salad : $7.99</h4>
        <p>
          crispy tortilla shell filled with lettuce, cheese dip, tomatoes,
          sour cream, pico de gallo, and rice or beans and your choice of meat
        </p>
      <h4>fajita taco salad : $8.99</h4>
        <p>
          crispy tortilla shell filled with lettuce, cheese dip, tomatoes,
          sour cream, pico de gallo, and rice or beans and your choice of meat
          with onions and bell peppers.
        </p>
      <h4>Anas salad : $7.99</h4>
        <p>
          grilled chicken breast with bell peppers, onions, mushrooms, tomatoes,
          and zuccchini
        </p>
  </div>
  <div class="col-xs-12 col-sm-6">
    <h2>kids menu</h2>
      <p>
        para ninos
      </p>
      <h4>k1 : crispy taco, rice, beans</h4>
      <h4>k2 : cheese quesadilla with french fries</h4>
      <h4>k3 : chicken tenders with french fries</h4>
      <h4>k4 : small burritoes, rice, beans</h4>
      <h4>k5 : cheese nachos</h4>
      <strong>$4.99 (add a kids drink $1.00)</strong>
  </div>
  <div class="col-xs-12 col-sm-6">
    <h2>fajita</h2>
      <p>
        all fajitias severd with rice and beans, lettuce, pico de gallo,
        sour cream, and your choice of fllur or corn tortillas
      </p>
      <h4>fajitas : $11.99</h4>
        <p>
          steak and chicken cooked with bell peppers, onions
          and tomatoes.
        </p>
      <h4>mixed fajitas : $12.49</h4>
        <p>
          steak and chicken cooked with bell peppers, onions
          and tomatoes.
        </p>
      <h4>texas fajitas : $13.49</h4>
        <p>
          steak, chicken, and shrimp cooked with bell peppers, onions
          and tomatoes.(24.99 for two)
        </p>
      <h4>fajitas alambres : $13.49</h4>
        <p>
          tender steak, bacon , and ham grilled with bell peppers and onions
          served on a hot skillet topped with shredded cheese. (24.99 for two)
        </p>
  </div>
  <div class="col-xs-12 col-sm-6">
    <h2>tortas</h2>
      <p>
        sandwiches
      </p>
      <p>
        (served on our homemade french bread with french fries)
      </p>
      <h4>choripan : $7.49</h4>
        <p>
          uruguayian style sausage with lettuce, tomatoes, jalapeoes, and mayo
        </p>
      <h4>milanesa : $7.49</h4>
        <p>
          breaded steak or chicken with lettuce, tomatoes, jalapeoes and mayo
        </p>
      <h4>tinga : $7.49</h4>
        <p>
          shredded chicken seasoned with our chipotle salsa, with grilled onions,
          cheese, sour cream, lettuce, tomatoes, and jalapeoes
        </p>
      <h4>mexican sandwich : $7.49</h4>
        <p>
          lettuce, tomatoes, jalapeoes, mayo, cheese, grilled onions, avacado, and
          your choice of meat
        </p>
      <h4>cubano sandwich : $8.49</h4>
          <p>
            steak or chicken, milanesa, hot dogs, bacon, a fried egg, lettuce, tomatoes
            cheese, jalapeoes, and mayo.
          </p>
      <h4>veggie sandwich : $7.49</h4>
        <p>
          seasoned spinach and grilled onions omlette with tomatoes and jalapeoes
        </p>
  </div>
  <div class="col-xs-12 col-sm-6">
    <h2>burritoes, tacos, and quesadilla</h2>
      <h4>burrito : $7.99</h4>
        <p>
          filled with rice, beans, cheese, fresh lettuce, soulr cream, pico de gallo
          tacuari salsa, and yous choice of meat (shrimp of fish burrito $1.00 extra)
        </p>
      <h4>tacos : $2.25</h4>
        <h4>mexican tacos</h4>
          <p>
            two-corn tortilla, fresh lettuces, tomatoes, cheese, and your choice of meat
          </p>
        <h4>american tacos</h4>
          <p>
            flour tortilla, fresh lettuce, tomatoes, cheese, and your choice of meat
          </p>
        <h4>crispy tacos</h4>
          <p>
            fried corn tortilla, fresh lettuce, tomatoes, cheese, and your choice of meat
          </p>
        <h4>mexican fish or shrimp tacos : $2.75</h4>
          <p>
            two-corn tortllas filled with grilled onions, tomatoes, and fish or shrimp
            with fresh chopped cilantro and lime
          </p>
      <h4>quesadilla : $4.99</h4>
        <p>
          folded 10 inch flour tortilla filled with melted american cheese, lettuce, pico de
          gallo, and sour cream on the side. (add meat $1.00 extra)
        </p>
      <h4>quesadilla vico : $2.99</h4>
        <p>
          folded 10 inch flour tortilla filled with melted american cheese and shreded chicken, lettuce,
          pico de gallo, rice or beans, and sour cream on the side. (add meat $1.00 extra)
        </p>
      <h4>empanadas : $2.99</h4>
        <p>
          homemade fried pie filled with cheese and your choice of meat
        </p>
        <h5>filling choices:</h5>
          <p>
            steak(asada) - chicken(pollo) - marinated pork(pastor) - ground beef(molida) -
            barbscoa mexican beef - tinga - veggies
          </p>
  </div>


</div>
