<div class="container-fluid">
  <div id="header" class="navbar navbar-default">
    <h1 class="text-center">Sabor Latino</h1>

    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <div class="navbar-collapse collapse">
      <div class="row">
        <ul id="the-links" class="nav navbar-nav">
          <li class="col-sm-3 text-center"><a ui-sref="home">Home</a></li>
          <li class="col-sm-3 text-center"><a ui-sref="menu">Menu</a></li>
          <li class="col-sm-3 text-center"><a ui-sref="about">About</a></li>
          <li class="col-sm-3 text-center"><a ui-sref="photos">Photos</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="the-photos">
  <img class "col-sm-3" src="styles/18579853_474813096183711_534231302409289728_n.jpg" />
  <img class "col-sm-3" src="styles/18878859_135222113696143_7283766854680576000_n.jpg" />
  <img class "col-sm-3" src="styles/21147989_136524956956213_7857299427130605568_n.jpg" />
  <img class "col-sm-3" src="styles/15803583_1454726764538390_3455510453323563008_n.jpg" />
  <img class "col-sm-3" src="styles/22860746_475424576174850_5541423275529207808_n.jpg" />
  <img class "col-sm-3" src="styles/16789674_221654548300255_1320771162996736000_n.jpg" />
</div>
